In [34]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import statsmodels.api as sm
from statsmodels.tsa.api import VAR, DynamicVAR
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.base.datetools import dates_from_str
from statsmodels.tsa.arima_model import ARIMA
from statsmodels.tsa.arima_model import ARIMAResults
from openpyxl import load_workbook
import seaborn as sns
import yfinance as yf

In [35]:
dfv = yf.download("SPY", period="max")['Adj Close'].pct_change()*100

[*********************100%***********************]  1 of 1 completed

In [36]:
sd = dfv.std()
st = dfv.tail(21)
stsd = st.std()
vf = sd/stsd

In [37]:
sd

1.1902995370661378

In [38]:
stsd

1.745428403733625

In [39]:
i = round(vf*252)
x = 252 if i >= 252 else i
i

172

In [40]:
x

172

In [41]:
df = yf.download("SHY SPY QQQ VNQ CBRE JLL CWK DHI TOL MDC PHM LEN NWHM TMHC COLD HLT H MAR ELS SUI CUBE LSI CPT MAA COR CONE ARE AAT BDN OFC CUZ DEI AMH INVH AKR BRX ROIC RPAI SITC UE WRI ACC KRC ESRT HIW HPP JBGS CLI PGRE PDM WRE NNN STOR SRC VER WPC MAC PEI SKT WPG GLPI MGP VICI SBRA OHI HTA HR EGP DRH PK PEB SHO RLJ TRNO REXR PSB AMT EQIX VNO PEAK VTR WELL HST DRE EXR PLD PSA BXP DLR AIV EQR ESS AVB UDR FRT KIM O REG SLG SPG", period="max")['Adj Close'].pct_change(periods=x)*100

[*********************100%***********************]  100 of 100 completed

In [42]:
df = df.tail(1)
df = df.round(1)
df = df.T
df = df.reset_index()
df.columns = ['Ticker','MOM']
df = df.sort_values(by=['MOM'], ascending=False)
top = df.head(1)
index = df.loc[df['Ticker'].isin(['SPY','SHY','QQQ','VNQ'])]

In [43]:
summary = top.append(index)
summary.sort_values(by=['MOM'], ascending=False)

   Ticker   MOM
27   EQIX  23.6
68    QQQ  15.2
76    SHY   3.3
81    SPY  -4.1
93    VNQ -24.4

In [45]:
df.head(10)

   Ticker   MOM
27   EQIX  23.6
68    QQQ  15.2
22    DLR   6.4
15    COR   5.0
76    SHY   3.3
5     AMT   0.7
65    PLD  -0.3
14   CONE  -2.1
81    SPY  -4.1
6     ARE  -4.4